body {
  margin-bottom: 0;
  font-family: 'Roboto Slab', serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index: 1;
  background-color: #BCC2FF;
  text-align: center;
  height: auto;
  margin-bottom: 0;
}

.name {
  display: inline-block;
  margin: .1em;
  margin-left: 8.5%;
}

.header-link {
  text-decoration: none;
  display: block;
  float: left;
  width: 25%;
}

.navigation-links {
  display: none;
  float: right;
}

.link-button {
  float: right;
  margin-top: .5em;
  margin-right: 5%;
}

.section-title {
  text-align: center;
}

.bio {
  background-image: url('pics/family.jpeg');
  background-size: cover;
  height: auto;
}

.bio-title {
  margin-top: 1em;
  padding-top: 1em;
  position: relative;
  float: center;
  color: #C9EAFF;
}

.bio-pic {
  position: relative;
  opacity: .5;
  width: 100%;
}

.bio-blurb {
  padding: 25% 10% 15% 10%;
  text-align: justify;
  position: relative;
  float: center;
  font-size: 2em;
  color: #C9EAFF;
}

.cv {
  background-color: #C9EAFF;
  width: 100%;
  height: auto;
  padding-top: 1em;
}

.cv-blurb {
  display: inline-block;
  float: left;
  width: 45%;
  margin-top: 10%;
  font-size: 2em;
  margin-left: 5%;
  text-align: justify;
}

.cv-pic {
  display: inline-block;
  width: 40%;
  margin: 4% 4% 4% 4%;
}

.cv-link {
  float: left;  
  display: inline-block;
  text-decoration: none;
  margin-top: 1.5em;
  margin-left: 15%;
  text-align: center;
  width: 45%;
}

.writing {
  min-width: 100%;
  background-image: url('pics/outdoor.jpeg');
  background-size: cover;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 1em;
  padding-top: 1em;
}

.writing-links {
  padding: 20% 10% 15% 10%;
  text-align: justify;
  position: relative;
  float: center;
  width: 40%;
  margin-left: 40%; 
  font-size: 1.25em;
}

.writing-pic {
  position: relative;
  opacity: .5;
  width: 100%;
}

.writing-sample {
  margin-bottom: 1em;
}

.writing-sample a {
  text-decoration: none;
  color: black;
}

.philosophy {
  padding-top: 1em;
  margin-top: 0;
  background-color: #C9EAFF;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.philosophy-pic {
  display: inline-block;
  width: 32%;
  margin: 2%;
}

.philosophy-links {
  display: inline-block;
  float: right;
  width: 50%;
  margin-right: 25%;
  margin-top: 1em; 
}

.philosophy-links a {
  text-decoration: none;
}

.philosophy-blurb {
  display: inline-block;
  float: right;
  width: 55%;
  margin-top: 10%;
  font-size: 2em;
  margin-right: 5%;
}

.footer {
  position: relative;
  margin-top: 0;
  bottom: 0;
  background-color: #BCC2FF;
  width: 100%;
  padding: .5em;
  text-align: center;
}

.contact {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1em;
}